<div class="service__list--name">{{item.reporter}}</div>
<div class="service__list--classroom">{{item.classroom}}</div>
<div class="service__list--issue">{{item.issue}}</div>
<div class="service__list--status">{{item.status}}</div>
{{yield}}