{{input type="text" value=model.attendants class="form-control" placeholder="Attendant"}}
{{input type="text" value=model.classrooms class="form-control" placeholder="Classroom"}}
{{input type="text" value=model.timebox class="form-control" placeholder="Timebox"}}
<button type="submit" class="" {{action 'saveReservation' model}}>Save Reservation</button>

{{outlet}}