{{rs-header title="Classrooms overview"}}

<div class="content">
	<div class="classrooms">
		<div class="classrooms__list__wrapper">
			<div class="classrooms__list">
				<div class="classrooms__header">
					<div class="classrooms__header--item">Classroom</div>
					<div class="classrooms__header--item">Facilities</div>
					<div class="classrooms__header--item">Capacity</div>
					<div class="classrooms__header--item">Outlets</div>
				</div>
				{{#each model as |classroom|}}
					{{#link-to "classrooms.reservations" class=""}}
						<div class="classrooms__list--item">
							<div class="classrooms__list--name">{{classroom.name}}</div>
							<div class="classrooms__list--facility">{{classroom.facility}}</div>
							<div class="classrooms__list--capacity">{{classroom.capacity}}</div>
							<div class="classrooms__list--outlets">{{classroom.outlets}}</div>
						</div>
					{{/link-to}}
				{{/each}}
			</div>
		</div>
		<div class="classrooms__right">
			<div class="classrooms__filter">
				<div class="list-group-item">
					filter
				</div>
			</div>
			<div class="classrooms__reservations">
				{{outlet}}
			</div>
		</div>
	</div>
</div>