{{#if responseMessage}}
    <div class="alert alert-success">{{responseMessage}}</div>
{{/if}}
<div class="classrooms">
    <div class="classrooms__list__wrapper">
        <div class="classrooms__list">
            <div class="classrooms__header">
                <div class="classrooms__header--item">Classroom</div>
                <div class="classrooms__header--item">Facilities</div>
                <div class="classrooms__header--item">Capacity</div>
                <div class="classrooms__header--item">Outlets</div>
                <div class="classrooms__header--icon--placeholder"></div>
                <div class="classrooms__header--icon">{{#paper-button iconButton=true onClick=(action "onToggleDialog")}}{{paper-icon icon="add"}}{{/paper-button}}</div>
            </div>
            {{#each model as |classroom|}}
                <div class="classrooms__list--item">
                    <div class="classrooms__list--name">{{classroom.name}}</div>
                    <div class="classrooms__list--facility">{{classroom.facility}}</div>
                    <div class="classrooms__list--capacity">{{classroom.capacity}}</div>
                    <div class="classrooms__list--outlets">{{classroom.outlets}}</div>
                    <div class="classrooms__list--icon classrooms__list--icon--edit">{{#link-to 'admin.edit' classroom.id}}<i class="material-icons">edit</i>{{/link-to}}</div>
                    <div class="classrooms__list--icon classrooms__list--icon--delete" {{action 'deleteClassroom' classroom}}><i class="material-icons">delete</i></div>
                </div>
            {{/each}}
        </div>
    </div>
</div>

{{#if isShowingDialog}}
  {{#paper-dialog class="flex-40" onClose=(action "onToggleDialog") origin=dialogOrigin clickOutsideToClose=true}}
	{{#paper-toolbar}}
	  {{#paper-toolbar-tools class="dialog__header"}}
		<h2>Add classroom</h2>
		<span class="flex"></span>
		{{#paper-button iconButton=true onClick=(action "onToggleDialog")}}{{paper-icon icon="close"}}{{/paper-button}}
	  {{/paper-toolbar-tools}}
	{{/paper-toolbar}}

	<div class="dialog__content">
		{{input type="text" class="" placeholder="Classroom" value=name}}
		{{input type="text" class="" placeholder="Facilities" value=facility}}
		{{input type="number" class="" placeholder="Capacity" value=capacity}}
		{{input type="number" class="" placeholder="Outlets" value=outlets}}
	</div>

	{{#paper-dialog-actions class="layout-row"}}
		<button class="dialog__button--cancel" {{action "onToggleDialog"}}>Cancel</button>
		<button class="dialog__button--confirm" {{action "createClassroom"}} disabled={{isAddButtonDisabled}}>Add</button>
	{{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}