<div class="sidebar{{unless expanded " sidebar--collapsed"}}" data-test-selector="sidebar">
    <div class="sidebar__logo__wrapper">
        {{#if device.isMobile}}
            {{#if expanded}}
                <img alt="logo" class="sidebar__logo--{{if expanded "large" "small"}}" src={{concat rootURL "assets/images/logo-large.svg"}}>
            {{/if}}
            {{else}}
            <img alt="logo" class="sidebar__logo--{{if expanded "large" "small"}}" src={{concat rootURL "assets/images/" (if expanded "logo-large" "logo-small") ".svg"}}>
            {{#if expanded}}
                <div class="sidebar__logo--title">
                    Hogeschool Rotterdam
                </div>
            {{/if}}
        {{/if}}
    </div>
    <nav class="sidebar__nav" data-test-selector="sidebar-nav">
        <ul class="sidebar__toggle__row">
            <button class="sidebar__toggle sidebar__cell" onclick={{action "toggleExpand"}} data-test-selector="sidebar-nav-toggle">
                <div class="sidebar__icon" align="center">
                    <i class= "material-icons sidebar__icon__element">{{concat "chevron_" (if expanded "left" "right")}}</i>
                </div>
            </button>
        </ul>
        <ul class="sidebar__menu" data-test-selector="sidebar-menu">
            {{#each model as |item|}}
                {{#link-to item.to class="sidebar__cell sidebar__submenu__item"}}
                    <div class="sidebar__icon" align="center" data-test-selector="sidebar-menu-item-icon">
                        <i class="material-icons" >{{item.icon}}</i>
                    </div>
                    <div class="sidebar__item__label" data-test-selector="sidebar-menu-item-label">
                        {{item.label}}
                    </div>
                {{/link-to}}
            {{/each}}
        </ul>
    </nav>
</div>
